/********General********/
@font-face{
  font-family:'regular';
  src:url(../fonts/gothic_regular.ttf) format('truetype')
}
@font-face{
  font-family:'bold';
  src:url(../fonts/gothic_bold.ttf) format('truetype')
}
*{
  margin: 0;
  padding: 0;
  outline: none;
}
a{
  text-decoration: none;
  color: inherit;
}
*:after,
*:before {
  margin: 0;
  padding: 0;
}
html, body{
  max-width: 100%;
  font-size: 100%;
  margin: 0;
  padding: 0;
}
.container{
  width: 100%;
  display: block;
  font-family: 'regular';
}
/*****Our Campus*****/
.our_campus{
  padding: 100px 0;
  max-width: 70%;
  margin: 0 auto;
}
.campus_list{
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.campus_list li{
  margin: 30px;
  text-align: center;
}
.campus_list h3{
  font-size: 3em;
  margin: 0 auto;
  font-family: 'bold';
}
.img_campus, .img_campus img{
  width: 100%;
  display: block;
  margin: 30px 0;
}
.campus_list p{
  font-size: 1.5em;
}
.campus_list span{
  font-family: bold;
}
.campus_list a{
  text-decoration: underline;
}
.sponsors{
  font-size: 3em;
  margin: 0 auto;
  font-family: 'bold';
  text-align: center;
  margin: 100px 0;
}
.sponsors_list{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 70%;
  margin: 0 auto;
}
.sponsors_list li{
  list-style: none;
  width: 20%;
}
.sponsors_list img{
  width: 120px;
  display: block;
}
/********Header********/
header{
  width: 100%;
  position: fixed;
  background-color: white;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 18px 1px rgba(0,0,0,0.75);
  z-index: 10;
}
.menu_mobile{
  position: absolute;
  right: -260px;
  top: 0;
  color: #fff;
  background-color: #00b5ea;
  padding: 50px 50px 150px 50px;
  height: 2000px;
}
.close_menu{
  color: #fff;
  background-color: #ff387a;
  font-size: 1.5em;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  right: 0;
  position: absolute;
  top: 0;
}
.header_mobile{
  display: none;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  height: 90px;
}
.logo_header{
  width: 80px;
  display: block;
}
.logo_header img{
  width: 100%;
  display: block;
}
.menu_burger{
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.menu_burger img{
  width: 100%;
  display: block;
}
.mm_content .menu_list{
  padding-top: 60px;
}
.mm_content .selected{
  color: #ffc20e;
}
.mm_content .menu_single{
  margin: 30px auto;
  list-style: none;
  text-transform: uppercase;
  font-family: 'bold';
}
.mm_content{
  position: relative;
}
.header_desktop{
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  height: 90px;
  align-items: center;

}
.header_logo{
  justify-content: flex-start;
  width: 75px;
}
.header_logo img{
  width: 100%;
  display: block;
}
.header_menu{
  width: 100%;
  display: block;
  position: relative;
}
.header_desktop .menu_list{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  font-family: 'bold';
  text-transform: uppercase;
}
.header_desktop .menu_single{
  margin: 0 20px;
  position: relative;
}
.header_desktop .menu_single a{
  display: block;
  width: 100%;
}
.header_desktop .menu_single a:after{
  content: '';
  width: 100%;
  height: 5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 11px;
  z-index: -1;
  transition: all 0.3s;
}
.header_desktop .selected a:after{
  background-color: #61abec;
}
.header_desktop .menu_single:hover a:after{
  background-color: #61abec;
  transition: all 0.3s;
}
/********Footer********/
footer{
  width: 100%;
  background-color: #1a1b1d;
  display: block;
}
.footer_3_col{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 80%;
  margin: 0px auto;
  padding: 40px 0;
}
.footer_col{
  color: #fff
}
.col_1{
  width: 200px;
  display: block;
}
.col_1 img{
  width: 100%;
  display: block;
}
.col_2_list{
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.c2l_single{
  width: 225px;
  display: block;
  margin: 0 50px;
}
.col_title{
  font-family: 'bold';
  font-size: 1.5em;
  margin-bottom: 20px;
}
.footer_menu{
  list-style: none;
}
.footer_menu li{
  border-bottom: 1px solid #a8a8a8;
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: #a8a8a8;
}
.col_3{
  width: 250px;
}
.txt_footer{
  color: #a8a8a8;
}
.col_3 form{
  display: flex;
  margin: 20px 0;
}
.col_3 input{
  padding: 5px 10px;
  font-size: 1em;
  background-color: #1e1f21;
  border: none;
  color: #a8a8a8;
  font-family: 'regular';
}
.col_3 button{
  background: none;
  border: none;
  cursor: pointer;
}
.footer_social{
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 40px;
}
.footer_social ul{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_social li{
  list-style: none;
  margin: 0 10px;
}
.copyright{
  background-color: #121213;
  width: 100%;
  color: #a8a8a8;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
.copy_left{
  margin-right: 40%;
  display: block;
}
.copy_right ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy_right li{
  margin: 0 10px;
  font-family: 'bold';
}
/********Index********/
.blocks{
  width: 100%;
  display: block;
  padding-top: 90px;
}
.block_title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.block_title h2{
  font-size: 4em;
  margin: 0 auto;
  font-family: 'bold';
}
.block_title img{
  display: block;
}
.block_subtitle{
  padding: 50px 0;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}
.block_subtitle p{
  font-size: 1.5em;
}
/*****Block_1*****/
.block_1, .block_1 img{
  width: 100%;
  display: block;
}
img.banner_desktop{
    display: block;
  }
img.banner_mobile{
  display: none;
}
/*****Block_2*****/
.block_2{
  max-width: 80%;
  margin: 0 auto;
  display: block;
  padding: 120px 0;
}
.b2_slider{
  max-width: 930px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  border-radius: 10px;
}
.b2_img_slide{
  border-radius: 10px;
  width: 100%;
  display: block;
}
.b2_slider .slick-next:before,.b2_slider .slick-prev:before{
  content:'';
}
.b2_slider .slick-prev{
  background: url('../images/arrow_left.png') no-repeat center;
  background-size: contain;
  left: 0;
}
.b2_slider .slick-next{
  background: url('../images/arrow_right.png') no-repeat center;
  background-size: contain;
  right: 0;
}
.b2_slider .slick-prev,.b2_slider .slick-next{
  width: 45px;
  height: 80px;
  z-index: 1
}
.b2_slider .slick-prev:hover,.b2_slider .slick-prev:focus{
  background: url('../images/arrow_left.png') no-repeat center;
  background-size: contain;
}
.b2_slider .slick-next:hover,.b2_slider .slick-next:focus{
  background: url('../images/arrow_right.png') no-repeat center;
  background-size: contain;
}
.b2_slider .slick-dots{
  bottom: -90px;
}
.slick-dots li.slick-active button:before{
  opacity: 1;
  color: #00b5e9;
}
.slick-dots li button:before{
  width: 30px;
  height: 30px;
  opacity: 1;
  font-size: 25px;
}
.slick-dots li{
  width: 30px;
  height: 30px;
  margin: 0px 20px;
}
.slick-dots:before{
  content: '';
  width: 32%;
  height: 5px;
  background-color: #000;
  z-index: 0;
  position: absolute;
  left: 34%;
  top: 10px;
}
/*****Block_3*****/
.block_3{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 120px 0 0 0;
}
.b3_top{
  max-width: 80%;
  margin: 0 auto;
}
.b3_content{
  background-color: #00aeef;
  padding: 0 0 100px 0;
}
.b3c_title{
  text-align: center;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  padding: 100px 0 50px;
}
.b3_two_col{
  display: flex;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  padding: 50px 0;
}
.b3t_col_single{
  background-color: #fff;
  text-align: center;
  padding: 50px 20px;
  margin: 0 25px;
  width: 25%;
}
.person_image{
  width: 100%;
  display: block;
  position: relative;
}
.img_person{
  display: block;
  width: 90%;
  margin: 0 auto;
  border-radius: 50%;
}
.country_person{
  position: absolute;
  bottom: 35px;
  right: 35px;
}
.txt_person{
  font-family: 'bold';
  font-size: 2em;
  margin: 25px 0;
  text-transform: uppercase;
}
.txt_about_person{
  font-size: 1.3em;
  margin: 25px 0;
}
.btn_person{
  border: 1px solid #00aeef;
  border-radius: 10px;
  color: #00aeef;
  background-color: #fff;
  font-size: 1.3em;
  font-family: 'bold';
  max-width: 70%;
  margin: 0 auto;
  transition: all 0.3s;
}
.btn_person a{
  display: block;
  padding: 20px;

}
.btn_person:hover{
  color: #fff;
  background-color: #00aeef;
  transition: all 0.3s;
}
.b3_two_row{
  width: 100%;
  background-color: #fff;
  border-radius: 0 80px 0 80px;
  position: relative;
  margin-top: 50px;
}
.b3t_row_single{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  max-width: 80%;
  margin: 0 auto;
}
.rs_image{
  width: 300px;
}
.rs_image img{
  width: 100%;
  display: block;
}
.rs_description{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.b3t_row_single .btn_person a{
  padding: 20px 80px;
}
.separator{
  width: 100%;
  height: 10px;
  background-color: #000;
  margin-top: -9px;
}
.b3t_row_first .rs_image{
  margin-top: -40px;
}
.b3t_row_second .rs_image{
  margin-top: -40px;
}
/*****Block_4*****/
.block_4{
  max-width: 80%;
  margin: 0 auto;
  display: block;
  padding: 120px 0;
}
.day_list{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  list-style: none;
  max-width: 85%;
  margin: 0 auto;
}
.day_list li{
  width: auto;
  display: block;
}
.day_list img{
  width: 100%;
  display: block;
}
.snake_separetor, .snake_separetor img{
  width: 80%;
  display: block;
  margin: 50px auto;
}
/*****Block_5*****/
.block_5{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 100px 0;
  background-color: #000
}
.img_doritos{
  max-width: 60%;
  margin: 0 auto;
}
.img_doritos img{
  width: 100%;
  display: block;
}
.txt_b5{
  color: #fff;
  font-size: 1.5em;
  font-family: 'bold';
  text-align: center;
  max-width: 60%;
  margin: 50px auto;
}
.doritos_list{
  max-width: 60%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
}
.doritos_list li{
  list-style: none;
  color: #fff;
  font-size: 1.4em;
  width: 310px;
  text-align: center;
  margin: 20px;
}
.doritos_list li img{
  width: 250px;
  display: block;
  margin: 10px auto;
}
.doritos_list p{
  margin-top: 30px;
}
.title_b5{
  color: #fff;
  font-size: 3em;
  text-align: center;
  margin: 50px 0;
}
.btn_doritos{
  border: 1px solid #ffc20e;
  border-radius: 10px;
  color: #ffc20e;
  background-color: #000;
  font-size: 1.3em;
  font-family: 'bold';
  max-width: 20%;
  margin: 0 auto;
  transition: all 0.3s;
  text-align: center;
}
.btn_doritos a{
  display: block;
  padding: 20px;
}
.btn_doritos:hover{
  color: #000;
  background-color: #ffc20e;
  transition: all 0.3s;
}
/********Master Class********/
.block_master{
  max-width: 80%;
  margin: 0 auto;
  display: block;
  padding: 120px 0;
}
.block_master .block_subtitle{
  font-family: 'bold';
  border-bottom: solid 1px;
}
.bm_social{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  font-size: 2em;
  text-align: center;
}
.bm_social p{
  margin: 0 30px;
}
.bm_social a{
  text-decoration: underline;
}
.bm_form .block_title{
  color: #00aeef;
}
.form_register{
  max-width: 50%;
  margin: 50px auto;
  padding: 30px;
  background: url(../images/form_master.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
}
.form_register input{
  border: none;
  display: block;
  padding: 10px;
  margin: 25px 0;
  width: calc(100% - 20px);
  border-radius: 5px;
  font-family: 'regular';
  font-size: 1.3em;
  color: #757575;
}
.input{
  width: 100%;
  display: flex;
}
.user_names{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.user_names input{
  width: 45%;
}
.form_register select{
  width: 100%;
  display: block;
  border: none;
  margin: 25px 0;
  padding: 10px;
  background-color: #fff;
  font-family: 'regular';
  font-size: 1.3em;
  color: #757575;
  border-radius: 5px;
  background: url(../images/arrow_down.png) no-repeat right;
  background-size: 30px;
  background-position-x: 98%;
  background-color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
  cursor: pointer;
}
.btn_send{
  border: 1px solid #00aeef;
  border-radius: 10px;
  color: #00aeef;
  background-color: #fff;
  font-size: 1.3em;
  font-family: 'bold';
  max-width: 70%;
  margin: 50px auto 0 auto;
  transition: all 0.3s;
  cursor: pointer;
  display: block;
  padding: 20px 100px;
  text-transform: uppercase;
}
.btn_send:hover{
  color: #fff;
  background-color: #00aeef;
}
.btn_master_face{
  max-width: 30%;
  border: 3px solid #00aeef;
  margin: 50px auto;
  font-size: 1.7em;
}
.btn_master_face a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  color: #000;
}
/********Workshop********/
.block_workshop{
  max-width: 80%;
  margin: 0 auto;
  display: block;
}
.block_workshop .block_subtitle{
  text-align: justify;
  max-width: 80%;
}
.bw_form .block_title{
  color: #ff387a;
}
.block_workshop .form_register{
  background: url(../images/form_workshop.jpg) no-repeat center;
  background-size: cover;
  border-radius: 10px;
}
.block_workshop .btn_send{
  border: 1px solid #ff357e;
  color: #ff357e;
}
.block_workshop .btn_send:hover{
  background-color: #ff357e;
  color: #fff;
}
.block_workshop .btn_master_face{
  border: 3px solid #ff357e;
}
/********Workshop Week********/
.block_workshop_week{
  padding: 40px 0;
}
.block_workshop_week .selected{
  color: #fff;
  background-color: #ff387a;
}
.block_workshop_week ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
.block_workshop_week li{
  list-style: none;
  padding: 25px 20px;
  text-transform: uppercase;
  font-size: 1.4em;
  font-family: 'bold';
  border: 1px solid #ff387a;
  border-radius: 10px;
  margin: 0 15px;
}
.cards_list{
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
}
.card_single{
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  margin: 20px;
  width: 350px;
}
.card_about{
  padding: 20px;
}
.card_icon{
  background-color: #ff387a;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}
.card_icon img{
  width: 140px;
  padding: 25px 0;
  display: block;
  margin: 0 auto;
}
.card_title{
    text-align: center;
    text-transform: uppercase;
    font-family: 'bold';
    font-size: 1.8em;
    border-bottom: 3px solid #000;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.card_text{
  font-size: 1.3em;
  margin-bottom: 5px;
}
.card_about .btn_person{
  border: 1px solid #ff387a;
  color: #ff387a;
  max-width: 100%;
  display: block;
  text-align: center;
  margin-top: 30px;
}
.card_about .btn_person:hover {
    color: #fff;
    background-color: #ff387a;
    transition: all 0.3s;
}
/********Contest********/
.contest_content{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 50px 0;
  background: url('../images/background_concurso.jpg') no-repeat center;
  background-size: cover;
}
.contest_content .block_title{
  color: #fff;
  text-transform: uppercase;
}
.contest_list{
  display: block;
  padding: 120px 0;
  max-width: 100%;
}
.contest_list li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 50px auto;
  position: relative;
  color: #fff;
  font-size: 2em;
}
.contest_list img{
  margin-right: 10%;
}
.slider_contest{
  max-width: 60%;
  margin: 50px auto 100px auto;
}
.slider_single{
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-family: 'bold';
}
.slider_single img{
  width: 200px;
  margin: 0 auto 50px auto;
}
.slider_single p{
  max-width: 50%;
  display: block;
  margin: 0 auto;
}
.slider_single a{
  text-decoration: underline;
}
.slider_contest .slick-next:before,.slider_contest .slick-prev:before{
  content:'';
}
.slider_contest .slick-prev{
  background: url('../images/arrow_left.png') no-repeat center;
  background-size: contain;
  left: 0;
  background-color: #ffc300;
  border-radius: 5px;
}
.slider_contest .slick-next{
  background: url('../images/arrow_right.png') no-repeat center;
  background-size: contain;
  right: 0;
  background-color: #ffc300;
  border-radius: 5px;
}
.slider_contest .slick-prev,.slider_contest .slick-next{
  width: 45px;
  height: 80px;
  z-index: 1
}
.slider_contest .slick-prev:hover,.slider_contest .slick-prev:focus{
  background: url('../images/arrow_left.png') no-repeat center;
  background-size: contain;
  background-color: #ffc300;
  border-radius: 5px;
}
.slider_contest .slick-next:hover,.slider_contest .slick-next:focus{
  background: url('../images/arrow_right.png') no-repeat center;
  background-size: contain;
  background-color: #ffc300;
  border-radius: 5px;
}
.rewards{
  max-width: 100%;
  margin: 0 auto;
  display: block;
  padding: 100px 0;
}
.reward_list{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  list-style: none;
}
.reward_list li{
  margin: 0 20px;
}
.reward_list img{
  width: 100%;
  display: block;
}
/********Responsive********/
@media screen and (max-width: 1670px){
  .card_single{
    width: 300px;
  }
  .cards_list{
    max-width: 100%;
  }
}
@media screen and (max-width: 1550px){
  .b3t_row_single .btn_person a{
    padding: 20px 40px;
  }
  .our_campus{
    max-width: 80%;
  }
}
@media screen and (max-width: 1400px){
  .block_title h2{
    font-size: 3em;
  }
  .b3t_col_single{
    padding: 50px 70px;
    width: 20%;
  }
  .day_list{
    max-width: 100%;
  }
  .img_campus{
    max-width: 80%;
    margin: 30px auto;
  }
  .our_campus{
    max-width: 100%;
  }
  .btn_person{
    font-size: 1em;
  }
  .txt_person{
    font-size: 1.8em;
  }
  .campus_list{
    padding: 0 40px;
  }
  .campus_list p{
    font-size: 1.2em
  }
  .block_subtitle{
    max-width: 100%;
  }
  .btn_master_face a{
    padding: 20px 60px;
  }
  .c2l_single{
    margin: 0 25px;
  }
  .card_single {
    width: 250px;
  }
}
@media screen and (max-width: 1279px){
  .block_2{
    padding: 90px 0;
  }
  .block_3{
    padding: 90px 0 0 0;
  }
  .block_title img{
    width: 180px;
    margin: 0 auto;
  }
  .b3c_title{
    padding: 100px 0 30px;
  }
  .txt_person{
    font-size: 1.5em;
  }
  .txt_about_person{
    font-size: 1.2em;
  }
  .b3t_col_single {
    padding: 50px 30px;
    width: 30%;
  }
  .country_person {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .b3t_row_single{
    max-width: 90%;
  }
  .b3t_row_single .rs_image{
    width: 200px;
    margin-top: 0px;
    align-self: flex-end;
  }
  .block_5{
    padding: 70px 0px;
  }
  .img_doritos{
    max-width: 50%;
  }
  .txt_b5{
    font-size: 1.2em;
    max-width: 90%;
  }
  .doritos_list{
    max-width: 90%;
  }
  .footer_3_col{
    max-width: 95%;
  }
  .c2l_single{
    max-width: 215px;
  }
  .col_3{
    max-width: 200px;
    margin-left: 0;
  }
  .col_1{
    max-width: 150px;
  }
  .col_3 input{
    width: 70%;
  }
  .col_3 button{
    width: 40px;
  }
  .col_3 img{
    width: 100%;
    display: block;
  }
  .block_workshop {
    max-width: 100%;
  }
  .bm_social{
    font-size: 1.8em;
  }
  .form_register{
    max-width: 50%;
  }
  .block_master {
    max-width: 100%;
  }
  .card_title{
    font-size: 1.5em;
  }
  .card_text{
    font-size: 1.1em;
  }
}
@media screen and (max-width: 1023px){
  .block_master {
    padding: 60px 0;
  }
  img.banner_desktop{
    display: none;
  }
  img.banner_mobile{
    display: block;
  }
  .slick-dots:before{
    width: 0px;
  }
  .block_2{
    padding: 40px 0;
  }
  .block_title h2{
    font-size: 2.2em;
  }
  .block_2{
    max-width: 95%;
  }
  .block_title img{
    max-width: 150px;
  }
  .block_subtitle{
    padding: 35px 20px;
  }
  .block_subtitle p{
    font-size: 1.3em;
  }
  .slick-dots li{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
  }
  .slick-dots li button:before{
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .b3c_title {
    padding: 50px 0 30px;
    font-size: 1.8em;
  }
  .b3t_row_single{
    flex-wrap: wrap;
  }
  .b3t_row_single {
    flex-wrap: wrap;
    flex-direction: column;
    margin: 40px auto;
    padding: 20px 0;
  }
  .rs_description {
    width: 100%;
  }
  .b3t_row_single .rs_image{
    align-self: center;
  }
  .b3_content{
    padding-bottom: 50px;
  }
  .block_4 {
    max-width: 95%;
    padding: 80px 0;
  }
  .doritos_list li {
    width: 150px;
  }
  .doritos_list {
    max-width: 95%;
  }
  .doritos_list li img{
    width: 100%;
    display: block;
  }
  .title_b5{
    font-size: 2.2em;
  }
  .btn_doritos{
    max-width: 50%;
  }
  .our_campus{
    padding: 50px 0;
  }
  .sponsors{
    font-size: 2em;
    margin: 50px 0;
  }
  .sponsors_list{
    max-width: 95%;
    flex-wrap: wrap;
  }
  .sponsors_list li {
    width: 20%;
    margin: 0 30px;
  }
  .sponsors_list img {
    width: 100%;
    display: block;
  }
  .campus_list{
    flex-wrap: wrap;
  }
  .footer_3_col {
    max-width: 95%;
    flex-direction: column;
    align-items: center;
  }
  .footer_col {
    color: #fff;
    margin: 10px 0;
    max-width: 300px;
  }
  .col_2_list{
    flex-direction: column;
  }
  .c2l_single {
    max-width: 300px;
    width: 250px;
    margin: 10px 0;
  }
  .copyright{
    flex-direction: column-reverse;
  }
  .copy_left{
    margin: 10px auto;
  }
  .header_desktop{
    display: none;
  }
  .header_mobile{
    display: flex;
  }
  .contest_list {
    padding: 80px 0;
    max-width: 100%;
  }
  .contest_list li {
    justify-content: flex-start;
    padding: 0 10px;
  }
  .contest_list img{
    margin-left: -270px;
  }
  .slider_contest {
    max-width: 95%;
    margin: 50px auto;
  }
  .form_register{
    max-width: 80%;
  }
  .btn_master_face{
    max-width: 50%;
  }
  .block_workshop_week ul{
    flex-wrap: wrap;
  }
  .block_workshop_week li{
    margin: 10px 15px;
  }
  .card_single {
    width: 300px;
  }
}
@media screen and (max-width: 767px){
  .block_title{
    flex-direction: column;
  }
  .block_title img{
    margin: 10px auto;
  }
  .b3_two_col{
    flex-direction: column;
    padding: 50px 10px;
  }
  .b3t_col_single {
    padding: 50px 0px;
    width: 100%;
    margin: 0 auto;
  }
  .doritos_list{
    flex-direction: column;
  }
  .img_doritos {
    max-width: 90%;
  }
  .doritos_list li {
    width: 60%;
    margin: 0 auto 57px auto;
  }
  .txt_b5 {
    max-width: 95%;
  }
  .title_b5 {
    margin: 0 0 50px 0;
  }
  .btn_doritos {
    max-width: 80%;
  }
  .campus_list {
    padding: 0 10px;
  }
  .sponsors_list li {
    width: 40%;
    margin: 20px 30px;
  }
  .img_person{
    max-width: 70%;
  }
  .country_person {
    right: 20%;
    width: 50px;
  }
  .copy_left{
    font-size: 0.8em;
  }
  .contest_list li{
    flex-direction: column;
    font-size: 1.6em;
  }
  .contest_list img{
    margin-bottom: 20px;
  }
  .contest_list {
    padding: 20px 0;
  }
  .slider_single img {
    width: 130px;
  }
  .slider_single p {
    max-width: 95%;
  }
  .reward_list{
    flex-direction: column;
    margin: 25px auto;
  }
  .reward_list li {
    margin: 20px;
  }
  .bm_social {
    font-size: 1.3em;
    flex-direction: column;
    margin: 10px 0;
  }
  .bm_social p {
    margin: 10px 30px;
  }
  .block_workshop .block_subtitle {
    max-width: 100%;
  }
  .form_register{
    max-width: 80%;
    padding: 20px;
    margin: 20px auto;
  }
  .user_names{
    flex-direction: column;
    padding-top: 20px
  }
  .user_names input{
    width: calc(100% - 20px);
  }
  .form_register input{
    margin: 10px 0;
  }
  .btn_send{
    padding: 10px 50px;
    margin-bottom: 20px;
  }
  .btn_master_face {
    max-width: 85%;
  }
  .btn_master_face a {
    padding: 20px;
  }
  .block_workshop_week li {
    margin: 0;
    padding: 10px 15px;
  }
  .block_workshop_week {
    padding: 30px 0 10px 0;
  }
}